<?xml version="1.0" encoding="UTF-8"?>
<!-- phpunit.xml -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="Tests/bootstrap.php">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <php>
    <server name="KERNEL_DIR" value="./tests/Fixtures/"/>
    <server name="KERNEL_CLASS" value="Actiane\EntityChangeWatchBundle\Tests\Fixtures\AppKernel"/>
  </php>
  <testsuites>
    <testsuite name="Test suite">
      <directory suffix="Test.php">./Tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
